

<html>
    <head>
        <title>jeu videos de chaque année</title>
    </head>
    <body>
        <div>
            <h1><a href="/">jeu videos de chaque année</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <h2><a href="">{{ post.title }}</a></h2>

            {% if post.published_date %}
              <p>Date de publication: {{ post.published_date }}</p>
            {% endif %}

            <p>{{ post.text }}</p>
          </div>
        {% endfor %}

        {# TODO: Afficher nombre_exemplaires_vendus #}

    </body>
</html>
