{% load static %}
<html lang="fr">
    <head>
        <title>jeu videos de chaque année</title>
    </head>
    <body>
        <div>
            <h1><a href="/">jeu videos de chaque année</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <h2><a href="">{{ post.title }}</a></h2>

            {% if post.published_date %}
              <p>Date de publication: {{ post.published_date }}</p>
            {% endif %}

            <p>{{ post.text }}</p>

            {# TODO: Mettre ces lignes dans le template post_detail.html #}
            <p>Nombre d'exemplaires vendus: {{ post.sold_amount }}</p>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="Couverture {{ post.title }}">
            {% endif %}

          </div>
        {% endfor %}

        {# TODO: Afficher nombre_exemplaires_vendus #}

    </body>
</html>
