{% extends 'blog/base.html' %}
{%block content%}

  <h1>le jeu video: {{post.title}}</h1>

  <p  class="fontsize fr"> {{ post.text|linebreaksbr }}</p>

  {% if post.sold_amount %}
    <p>Nombre d'exemplaires vendus: {{ post.sold_amount }} Millions</p>
  {% endif %}


<div class="row game-media">
  <div class="col-md-6">
    {% if post.image %}
      <img src="{{ post.image }}" alt="Couverture {{ post.title }}" class="detail-image">
    {% endif %}
  </div>
  <div class="col-md-6">
    <iframe
      width="500"
      height="315"
      src="https://www.youtube.com/embed/{{ post.video }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
{%endblock%}
